# This file is part of the OpencleanPattern and Anomaly Detection Library (openclean-pattern).
#
# Copyright (C) 2021 New York University.
#
# openclean-pattern is released under the Revised BSD License. See file LICENSE for
# full license details.

include LICENSE
include *.rst
recursive-include openclean-pattern *.py *.json
prune docs/_build
recursive-include docs *.py
recursive-include docs *.rst
global-exclude *.py[co]
